In [2]:
import pandas as pd
import os

# Initialize an empty list to store data frames
data_frames = []

# Loop through the file names from 0.csv to 436.csv
for i in range(467):
    filename = f"{i}.csv"
    if os.path.isfile(filename):  # Check if the file exists
        df = pd.read_csv(filename)
        data_frames.append(df)

# Concatenate all the data frames into one data frame
merged_df = pd.concat(data_frames, ignore_index=True)

Merging complete! The merged data frame has been saved as 'merged_data.csv'.

In [9]:
merged_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,month,day,hour,HLY-TEMP-NORMAL,...,comp_flag_HLY-WIND-1STPCT,years_HLY-WIND-1STPCT,HLY-WIND-2NDDIR,meas_flag_HLY-WIND-2NDDIR,comp_flag_HLY-WIND-2NDDIR,years_HLY-WIND-2NDDIR,HLY-WIND-2NDPCT,meas_flag_HLY-WIND-2NDPCT,comp_flag_HLY-WIND-2NDPCT,years_HLY-WIND-2NDPCT
0,AQW00061705,"PAGO PAGO WSO AP, AS AQ",-14.3306,-170.7136,3.7,01-01T00:00:00,1,1,0,81.0,...,S,30,8.0,,S,30,19.0,,S,30
1,AQW00061705,"PAGO PAGO WSO AP, AS AQ",-14.3306,-170.7136,3.7,01-01T01:00:00,1,1,1,80.7,...,S,30,3.0,,S,30,17.4,,S,30
2,AQW00061705,"PAGO PAGO WSO AP, AS AQ",-14.3306,-170.7136,3.7,01-01T02:00:00,1,1,2,80.5,...,S,30,3.0,,S,30,19.4,,S,30
3,AQW00061705,"PAGO PAGO WSO AP, AS AQ",-14.3306,-170.7136,3.7,01-01T03:00:00,1,1,3,80.3,...,S,30,3.0,,S,30,19.3,,S,30
4,AQW00061705,"PAGO PAGO WSO AP, AS AQ",-14.3306,-170.7136,3.7,01-01T04:00:00,1,1,4,80.1,...,S,30,3.0,,S,30,19.3,,S,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3828115,USW00094236,"KLAMATH FALLS INTL AP, OR US",42.1469,-121.7242,1244.8,12-31T19:00:00,12,31,19,30.0,...,S,30,8.0,,S,30,11.3,,S,30
3828116,USW00094236,"KLAMATH FALLS INTL AP, OR US",42.1469,-121.7242,1244.8,12-31T20:00:00,12,31,20,29.2,...,S,30,4.0,,S,30,13.4,,S,30
3828117,USW00094236,"KLAMATH FALLS INTL AP, OR US",42.1469,-121.7242,1244.8,12-31T21:00:00,12,31,21,28.7,...,S,30,4.0,,S,30,13.3,,S,30
3828118,USW00094236,"KLAMATH FALLS INTL AP, OR US",42.1469,-121.7242,1244.8,12-31T22:00:00,12,31,22,28.2,...,S,30,4.0,,S,30,12.4,,S,30
3828119,USW00094236,"KLAMATH FALLS INTL AP, OR US",42.1469,-121.7242,1244.8,12-31T23:00:00,12,31,23,27.8,...,S,30,4.0,,S,30,14.4,,S,30